# Node.js dependencies
node_modules/
npm-debug.log

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.test

# VS Code directories
.vscode/

# MacOS files
.DS_Store

# Windows files
Thumbs.db

# Backend dependencies
backend/node_modules/

# Backend env variables
Uptdate_evn.bat

# Frontend dependencies
frontend/node_modules/

# Ignorar archivos de caché de Angular
dist/
node_modules/
.angular/